{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Catálogo de Juegos{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <img src="{% static 'catalogo-de-juegos-xbox-serie-xs-bSIO.webp' %}" alt="Logo" class="logo">
            <a class="btn" href="{% url 'inicio' %}">Inicio</a>
            <a class="btn secondary" href="{% url 'detalle' %}">Detalle</a>
        </nav>

        {% block content %}
        <h1>Catálogo de Juegos</h1>
        <p>Contenido principal del sitio.</p>
        {% endblock %}
    </div>
</body>
</html>
